<section id="considering-cards" class="cards cards--considering">

  <%= render "collections/columns/pinstripes" %>

  <% if page.used? %>
    <%= render partial: "cards/display/public_preview", collection: page.records, as: :card, cached: true %>

    <% unless page.last? %>
      <div class="full-width">
        <%= public_collection_cards_next_page_link collection, "considering-cards", page: page %>
      </div>
    <% end %>
  <% else %>
    <p class="txt-medium translucent">Nothing here</p>
  <% end %>
</section>
