<%= turbo_frame_tag @collection, :entropy_configuration do %>
  <div class="margin-block-end">
    <h2 class="divider txt-large">Auto close</h2>
    <p class="margin-none-block-start">Boxcar doesn’t let stale cards stick around forever. Cards automatically close as “Not now” if no one updates, comments, or moves a card for…</p>
    <%= render "entropy/auto_close", model: collection, url: collection_entropy_configuration_path(collection) %>
  </div>
<% end %>
