@layer components {
  .card {
    --card-padding-inline: var(--inline-space-double);
    --card-padding-block: var(--block-space);
    --border-color: transparent;
    --border-radius: 0.2em;
    --border-size: 0;

    aspect-ratio: var(--card-aspect-ratio, auto);
    background-color: color-mix(in srgb, var(--card-color) 4%, var(--color-canvas));
    border-radius: 0.5em;
    box-shadow: var(--shadow);
    color: color-mix(in srgb, var(--card-color) 40%, var(--color-ink));
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    padding: var(--card-padding-block) var(--card-padding-inline);
    position: relative;
    text-align: start;
    z-index: 1;

    .avatar {
      --avatar-size: 2.75em;
    }
  }

  .card--golden.card--doing {
    --border-color: var(--color-canvas) !important;

    background-color: var(--color-canvas);
    background-image: linear-gradient(90deg, oklch(var(--lch-yellow-light) / 0.5) 0%, oklch(var(--lch-yellow-light) / 0.1) 50%, oklch(var(--lch-yellow-light) / 0.75) 100%);
    box-shadow:
      0 0 0.5em 0.2em var(--color-golden),
      0 0 1em 0.4em var(--color-golden) !important;
    outline: 1px solid var(--color-golden);
  }

  .card__background {
    inset: 0;
    position: absolute;
    z-index: -1;

    img {
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0.2;
      transition: opacity 0.2s ease-in-out;
    }

    @media (hover: hover) {
      .card:hover & {
        img:not([src=""]) {
          opacity: 1;
        }
      }
    }
  }

  .card__link {
    --hover-size: 0;

    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
  }

  .card__header {
    margin-block-start: calc(-1 * var(--card-padding-block));
    margin-inline-start: calc(-1 * var(--card-padding-inline));
  }

  .card__collection {
    background-color: var(--card-color);
    border-radius: var(--border-radius) 0 var(--border-radius) 0;
    font-weight: 800;
    letter-spacing: 0.4ch;
    padding: var(--block-space-half) var(--inline-space-double);
  }

  .card__tags {
    align-items: center;
    color: var(--card-color);
    display: flex;
  }

  .card__tag {
    color: var(--card-color);
    font-weight: 700;
  }

  .card__body {
    padding-block: var(--card-padding-block);
  }

  .card__title {
    --hover-size: 0;
    --input-border-radius: 0;

    flex: 2 1 75%;
    font-size: var(--text-xx-large);
    font-weight: 900;
    line-height: 1.1;
    min-block-size: 3lh;
    text-wrap: balance;

    .card__title-field {
      &:is(textarea)::placeholder {
        color: inherit;
        opacity: 0.5;
      }
    }

    .card__title-link {
      --lines: 3;

      color: inherit;
    }
  }

  .card__stages {
    display: flex;
    flex: 1 1 25%;
    flex-direction: column;
    max-width: 100%;
    min-width: 0;
    padding-block: var(--block-space);
  }

  .card__move-button {
    --btn-background: color-mix(in srgb, var(--card-color) 40%, var(--color-ink));

    margin-block-start: calc(var(--block-space) * 1.2);
    margin-inline-end: calc(var(--inline-space) * -4);
    padding-inline-end: var(--inline-space);
  }

  .card__meta {
     --border: 1px solid var(--card-color);

    align-items: center;
    display: flex;
    max-inline-size: 100%;
    min-inline-size: 0;
  }

  .card__meta-grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  .card__meta-item {
    text-transform: uppercase;

    strong,
    .local-time-value {
      font-weight: 900;
    }

    &:nth-child(odd) {
      border-inline-end: var(--border);
      padding-inline-end: var(--inline-space);
    }

    &:nth-child(even) {
      padding-inline-start: var(--inline-space);
    }

    /* First two */
    &:nth-child(-n+2) {
      border-block-end: var(--border);
      padding-block-end: 0.25ch;
    }

    /* Last two */
    &:nth-child(n+3) {
      padding-block-start: 0.25ch;
    }
  }

  .card__closed {
    align-items: center;
    aspect-ratio: 7/4;
    border: var(--block-space-half) solid var(--card-color);
    display: flex;
    flex-direction: column;
    inset: auto var(--block-space) var(--block-space-double) auto;
    justify-content: space-between;
    padding: var(--block-space-half) calc(var(--inline-space) * 1.5);
    position: absolute;
    transform: rotate(-10deg);
    z-index: -1;
  }

  .card__closed-by {
    border-block-end: 1px dashed currentcolor;
  }

  .card__closed-title {
    color: var(--color-ink-inverted);
    font-size: var(--text-rel-large);
    font-weight: 900;
    text-shadow:
     -2px -2px 0 var(--card-color),
      2px -2px 0 var(--card-color),
     -2px 2px 0 var(--card-color),
      2px 2px 0 var(--card-color);
  }
}
