<!DOCTYPE html>
<html>
  <%= render "layouts/shared/head" %>

  <body class="public" data-controller="local-time timezone-cookie" data-action="turbo:morph@window->local-time#refreshAll">
    <header class="header" id="header">
      <a href="#main" class="header__skip-navigation btn" data-turbo="false">Skip to main content</a>
      <%= yield :header %>
    </header>

    <main id="main">
      <%= yield %>
    </main>

    <footer id="footer">
      <div class="justify-center center margin-block-double flex align-end gap">
        <%= image_tag "fizzy-logo.png", size: 28 %>
        <strong><a href="http://box-car.com" class="txt-ink">Made with Boxcar&trade;</a></strong>
      </div>
    </footer>
  </body>
</html>
